[Unit]
Description=A battery notification daemon
After=multi-user.target

[Service]
Type=simple
Environment=RUST_LOG=WARN
ExecStart=/usr/bin/battery-notify

[Install]
WantedBy=default.target
